* {
  box-sizing: border-box;
}

.name {
  color: blue
}
h3:before {
  content: 'Yo: '
}
#next {
  display:none;
}
#girl:before {
  content:'Chica: ';
}

#girl-image {
  height: 90vh;
  object-position: calc((2024/6)*-0px) 10px;
}
#girl-container {
  width: calc((2024/(487*6))*90vh);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 150px;
}

body {
  background-size: cover;
  background-image: url(imgs/background.jpg);
}

ul {
  display: block;
  position: absolute;
  bottom: 30vh;
  left: 10vw;
  z-index: 2;
  padding: 0;
}
li {
  list-style-type: none;
  margin-bottom: 5px; 
}

button {
  font-size: 26px;
  background: rgba(20,22,20,0.65);
  color: white;
  border: none;
  cursor:pointer;
  word-wrap: break-word;
  max-width: 520px;
  text-align: left;
}

button:hover {
  text-shadow: yellow 0px 0 2px;
}

#discussion p {
  display: block;
  position: absolute;
  width: 80vw;
  background: rgba(10,0,20,0.8);
  color: white;
  height: 20vh;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 48px;
  padding: 1.5rem;
}

.song, .artist, .decade {
  font-style: italic;
  color: rgb(240,240,20);
}